{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container" style="margin-top:100px">
    <div class="row justify-content-md-center">
        <div class="col-lg-8 border border-light shadow-lg p-3 mb-5 bg-body rounded d-flex flex-column justify-content-center mt-5 ml-5">
        <form method="POST">
            <div class="row mt-2"><div class="col-2 ynavColorNoHover">{{ messages['email'] }}</div> <div class="col-8"><input type="text" name ="email"class="form-input border-success border-2" ></div>
            <div class="row mt-2"><div class="col-2 ynavColorNoHover">{{ messages['password'] }}</div> <div class="col-8"><input type="password" name ="password" class="form-input border-success border-2"></div>
            <div class="row mt-2"><div class="col-2"></div> <div class="col-8"><input type="submit" value="{{ messages['submit'] }}" class="bg-success text-light rounded"></div></div>
        </form>


        <p class="ynavColor h3">Operation successful - car record deleted</p>
        <a class="nav-link ynavColor border border-success mt-3 rounded text-success" style= "width:250px; height: 30px; border-radius: 10px; padding-top: 2px;" href="/admin/cars">{{translate['continue']}}</a>
        </div>
    </div>
</div>

<div class="container">
    <form method="POST">
        <div class="row mt-2"><div class="col-2">{{ messages['email'] }}</div> <div class="col-8"><input type="text" name ="email"></div>
        <div class="row mt-2"><div class="col-2">{{ messages['password'] }}</div> <div class="col-8"><input type="password" name ="password"></div>
        <div class="row mt-2"><div class="col-2"></div> <div class="col-8"><input type="submit" value="{{ messages['submit'] }}"></div></div>
    </form>
</div>

{% if errorList %}
    <div class="container">
        <ul class="errorMessage">
            {% for error in errorList %}
                <li class="row">{{error}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock %}
