{% extends "master.html.twig" %}

{% block title %}New Password{% endblock %}

{% block content %}
<form method="POST">
    {{ messages['password'] }} <input type="password" name ="password"><br>
    {{ messages['password2'] }} <input type="password" name ="password2"><br>
    <input type="submit" value="{{ messages['submit'] }}">
</form>

{% if errorList %}
    <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}